@model ML.AlumnoMateria
@{
    ViewBag.Title = "GetMateriaAsignada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materias Asignadas</h2>

<hr />
<div class="row">

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success" href="@Url.Action("GetMateriaNOAsignada","AlumnoMateria" , new { IdAlumno = Model.Alumno.IdAlumno } )">Agregar Materia

            </a>
            
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            @Html.LabelFor(model => model.Alumno.Nombre)

            @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control"  , @disabled = "disabled" })

        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.IdAlumno)

            @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control" , @disabled = true })

        
        </div>

    </div>

    <div class="row" style="padding-top:30px">
        <div class="col-md-12 justify-content-center">

            <table class="table table-hover">
                <tr>
                    <th class="hidden" scope="col">
                        IdAlumnoMateria
                    </th>
                    <th class="text-center" scope="col">
                        Materia
                    </th>
                    <th class="text-center" scope="col">
                        Costo
                    </th>
                    <th class="text-center" scope="col">
                        Eliminar Materia
                    </th>
                </tr>
                @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnosMaterias)
                {
                    <tr>
                        <td class="hidden">
                            @alumnoMateria.IdAlumnoMateria
                        </td>
                        <td class="text-center">
                            @alumnoMateria.Materia.Nombre
                        </td>
                        <td class="text-center">
                            @alumnoMateria.Materia.Costo
                        </td>

                        <th class="text-center">
                            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("AlumnoMateriaDelete", "AlumnoMateria", new {IdAlumnoMateria = alumnoMateria.IdAlumnoMateria , IdAlumno = alumnoMateria.Alumno.IdAlumno})" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"></a>
                        </th>
                    </tr>
                }
            </table>

        </div>

    </div>

</div>